@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
}
.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgb(207, 136, 224);
}
.center-div{
    background-color: rgb(224, 232, 235);
    width: 25%;
    height: auto;
    margin: 30px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
}
h1{
    color: white;
    background-color: purple;
    display: block;
    text-align: center;
    width: 100%;
}
.itemadder{
    display: flex;
    justify-content: space-around;
    width: 100%; 
}
.itemadder input{
    text-align: center;
    outline: none;
    color: purple;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid purple;
    font-size: 20px;
    width: 60%;
    padding: 10px 0;
}
.itemadder button{
    background-color: purple;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;

}
.itemadder button:hover{
    background-color: green;
}
.items{
    width: 100%;
    min-height: 60vh;
}
.item{
    width: 100%;
    display: flex;
    justify-content: left;
}
.item button{
    background-color: purple;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    margin: 10px 20px 0px 20px;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;

}
.item button:hover{
    background-color: red;
}