
.note{
    min-width: 300px;
    height: 150px;
    background-color:rgb(226, 228, 117) ;
    margin: 15px;
    padding: 0px 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    color: white;
    position: relative;
    
}
#deletebtn{
    position: absolute !important;
    background-color: rgb(226, 228, 117) !important;    
    color: white !important;
    width: 20px !important;
    top: 14px;
    right: 2px;
}
#deletebtn:hover{
    background-color: white !important ;
    color: rgb(226, 228, 117) !important;
}