*{
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
}
body{
    margin: 0px;
    padding: 0px;
}
h1{
    text-align: center;
   
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-color: rgb(222, 225, 226);
    width: 100%;
    height: auto;

}
.slotContainer{
    width: 50%;
    border: 1px solid black;
    border-radius: 3px ;
    text-align: center;
    margin: 20px;
    background-color: white;
}

